<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>

<body>
    <h2>ログインページ</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}">ユーザー名</label>
            {{ form.username }}
        </div>
        <div>
            <label for="{{ form.password.id_for_label }}">パスワード</label>
            {{ form.password }}
        </div>
        <button type="submit">ログイン</button>
    </form>

    <hr>

    <p>アカウントをお持ちでない方はこちら：</p>
    <form action="{% url 'signup' %}">
        <button type="submit">新規登録</button>
    </form>
</body>

</html>