<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <h2>ログインページ</h2>
     <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>
            <label for="id_username">ユーザー名:</label>
            <input type="text" name="username" id="id_username" required>
        </p>
        <p>
            <label for="id_password">パスワード:</label>
            <input type="password" name="password" id="id_password" required>
        </p>
        <button type="submit">ログイン</button>
    </form>

    <hr>

    

    <!-- 登録済みの場合はログインページへのリンク -->
    <p>新規登録はこちらから <a href="{% url 'signup_menu' %}">新規登録</a></p>
</body>
</html>
