<!-- signup_eat.html -->
<h2>飲食店向け新規登録</h2>
<form method="post">
    {% csrf_token %}
            <div>
            <label for="{{ form.familyname.id_for_label }}">姓</label>
            {{ form.familyname }}
            {{ form.familyname.errors }}
        </div>
        <div>
            <label for="{{ form.lastname.id_for_label }}">名</label>
            {{ form.lastname }}
            {{ form.lastname.errors }}
        </div>
        <div>
            <label for="{{ form.farm_name.id_for_label }}">表示される名前</label>
            {{ form.farm_name }}
            {{ form.farm_name.errors }}
        </div>
        <div>
            <label for="{{ form.address.id_for_label }}">住所</label>
            {{ form.address }}
            {{ form.address.errors }}
        </div>
        <div>
            <label for="{{ form.phone_number.id_for_label }}">電話番号</label>
            {{ form.phone_number }}
            {{ form.phone_number.errors }}
        </div>
        <div>
            <label for="{{ form.email.id_for_label }}">メールアドレス</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div>
            <label for="{{ form.password1.id_for_label }}">パスワード</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div>
            <label for="{{ form.password2.id_for_label }}">パスワード（確認用）</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
    <button type="submit">登録</button>
</form>
    <p><a href="{% url 'login' %}">ログインページに戻る</a></p>
</body>
</html>

