<!-- polls/templates/registration/product_upload.html -->

<h2>商品アップロード</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">アップロード</button>
    {% for product in products %}
  <div>
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}円</p>
    {% if product.image %}
      <img src="{{ product.image.url }}" alt="{{ product.name }}">
    {% endif %}
  </div>
{% endfor %}

</form>

<a href="{% url 'farm_menu' %}">戻る</a>
