{% extends 'no_login_base.html' %}
{% load static %}

{% block title %}新規登録ページ{% endblock %}

{% block content %}
<main class="signup-main">
    <h1 class="signup-title">アカウント新規登録</h1>

    <div class="signup-buttons">
        <form method="get" action="{% url 'signup_farm' %}">
            <button type="submit" class="signup-button">農家向け<br>アカウント登録</button>
        </form>

        <form method="get" action="{% url 'signup_eat' %}">
            <button type="submit" class="signup-button">飲食店向け<br>アカウント登録</button>
        </form>
    </div>

    <div class="login-link">
        <a href="{% url 'login' %}">登録済みの場合<br>ログインはこちらから</a>
    </div>
</main>
{% endblock %}