{% extends 'eat_base.html' %}
{% load static %}

{% block title %}購入者メニュー{% endblock %}

{% block content %}
<main>
    <form method="post" action="{% url 'polls:logout' %}">
        {% csrf_token %}
        <p class="logout-text">ログアウトしますか？</p>
        <div class="logout-buttons">
            <button type="submit" class="yes-button">はい</button>
            <button type="button" class="no-button" onclick="location.href='{% url 'polls:eat_menu' %}'">いいえ</button>
        </div>
    </form>
</main>
{% endblock %}